@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace.woff') format('woff'), url('../fonts/Hyperspace.ttf')  format('truetype');
}

.loader {
	position: absolute;
	top: 300px;
	left: 375px;
	color: #ffffff;
	font-size: 36px;
	font-family: Hyperspace;
}
